*{
    margin:0;
    padding:0;
    font-family:rubik;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /* background-color: blueviolet; */
 }
.container{
    flex:1;
}
/* footer */
.f_info_links a{
text-decoration: none;
color: #222222
}
.f_info_links:hover{
    text-decoration:underline;
}
.f_social,.f_info_links{
    width:100%;
}
.f_social i{
    font-size: 1.2rem;
    margin-right:1rem;
}
.f_info{
    text-align: center;
    height:7rem;
    background-color: rgb(182, 182, 182);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
/* card */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    width:100% !important;
    border-radius:1rem !important;
    object-fit: cover !important;

}
.card-body{
    padding:0 !important;
}
.listCardLink{
    width: inherit;
    text-decoration: none;
    
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.form-label {
    margin-bottom: .1rem !important;
}

.editbtn{
    text-decoration: none;
    color:rgb(35, 35, 36);
}

.show-img{
    height:48vh;
    object-fit: cover !important;
    
}
.show-btns{
    display: flex;
    justify-content: space-between;
/* border: solid red 2px; */
}
.rate{
    margin:5px;
    height:100px;
    border-radius: 5px;
    border:solid rgb(37, 36, 36) 2px;
    padding:8px;
}
/* .rate-area{
    display:flex;
    flex-wrap: wrap;
} */